/* Define CSS Variables for Light and Dark Modes */
:root {
    --background-color: #f5ebe0;
    --text-color: #333;
    --header-background-color: #e9dfd5;
    --header-text-color: #333;
    --link-color: #0066cc;
    --link-hover-color: #004999;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1e1e1e;
        --text-color: #dcdcdc;
        --header-background-color: #333;
        --header-text-color: #dcdcdc;
        --link-color: #3399ff;
        --link-hover-color: #66b2ff;
    }
}

/* General Styles */
body {
    font-family: Georgia, serif;
    margin: 20px;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--header-background-color);
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 15px;
}

h1 {
    margin-bottom: 10px;
    color: var(--header-text-color);
}

p {
    line-height: 1.6;
    color: var(--text-color);
}

/* Images */
img {
    max-width: 100%;
    height: auto;
}

.profile-image {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

/* Links */
a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}