body {
    font-family: Georgia, serif;
    margin: 20px;
    text-align: center;
    background-color: #f5ebe0;
}

header {
    background-color: #e9dfd5;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 15px;
}

h1 {
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
}

.profile-image {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}